# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties
app/google-services.json

# IDE
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# Captures
captures/
.externalNativeBuild/

# Logs
*.log
